.header{
  color: white;
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  border-bottom: 3px solid #0f172a;
  background-color: rgb(33, 220, 123);

}

h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}